.logo-header {
  display: block;
  padding-bottom: 32px;
  margin-right: 95px;
  font-size: 26px;
  color: #2196f3;
}
.logo-color-header {
  color: #00000f;
}

.logo-footer {
  font-size: 26px;
  color: #2196f3;
  background: #2f303a;
}
.logo-color-footer {
  color: #ffffff;
}
