a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
p {
  font-size: 14px;
  color: #757575;
  line-height: 1.7;
}
h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}
